---
import HeaderPage from "../../components/HeaderPage.astro";
import Layout from "../../layouts/Layout.astro";

const baseUrl = import.meta.env.PUBLIC_BASE_URL;
import type { CompositeursResponse, OeuvresResponse } from "../../pocketbase-typegen";

const { id } = Astro.params;
const oeuvre = await Astro.locals.pb.collection<OeuvresResponse<{
  compositeur?: CompositeursResponse;
}>>("oeuvres").getOne(id!, {expand: 'compositeur'});
---

<head>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>

<HeaderPage />
<Layout pageTitle={`Détails de ${oeuvre.titre}`}>
  <section
    class="flex flex-col items-center min-h-screen bg-gradient-to-b from-gray-900 to-gray-700 text-white py-12"
  >
    <h1 class="text-4xl font-bold mb-6 tracking-wide">{oeuvre.titre}</h1>

    <div
      class="bg-gray-800 p-8 rounded-lg shadow-2xl transform transition duration-300 hover:scale-105 w-full max-w-md mx-auto"
    >
    
      {
        oeuvre.cover && (
          <img
            src={`${baseUrl}/api/files/oeuvres/${oeuvre.id}/${oeuvre.cover}`}
            alt={`Cover de ${oeuvre.titre}`}
            class="w-40 h-40  mx-auto mb-6 object-cover border-4 border-gray-600"
          />
        )
      }

      <div class="text-center">
        <p class="text-lg">
          <strong class="text-blue-400">Date de sortie :</strong>
          {oeuvre.annee}
        </p>
      </div>

      {
        oeuvre.expand?.compositeur && (
          <div class="mt-6">
            <p class="text-lg font-semibold text-blue-400">Compositeur :</p>
            <div class="mt-2 space-y-2">
              <div>
                {oeuvre.expand.compositeur.nom}
              </div>
            </div>
          </div>
        )
      }

    </div>
  </section>
</Layout>
