---
import HeaderPage from "../../components/HeaderPage.astro";
import Layout from "../../layouts/Layout.astro";
import { pb } from "../../backend";
import Debug from "astro/components/Debug.astro";
import LinkCompositeur from "../../components/LinkCompositeur.astro";
import type {
  CompositeursResponse,
  OeuvresResponse,
} from "../../pocketbase-typegen";

type Response = OeuvresResponse<{
  compositeur: CompositeursResponse;
}>;
export const prerender = false;

const oeuvres = await Astro.locals.pb
  .collection<Response>("oeuvres")
  .getFullList({ expand: "compositeur" });

const baseUrl = "http://127.0.0.1:8090"; // URL de base de PocketBase
---

<head>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>
<HeaderPage />
<Layout pageTitle="Liste des oeuvres">
  <section class="flex flex-col items-center">
    {
      oeuvres.map((oeuvre) => (
        <div>
          <h2>Titre : {oeuvre.titre}</h2>
          <p>Année de sortie : {oeuvre.annee}</p>
          {oeuvre.cover && (
            <img
              src={`${baseUrl}/api/files/oeuvres/${oeuvre.id}/${oeuvre.cover}`}
              alt={`Photo de ${oeuvre.titre}`}
              class="w-32 h-32 mx-auto mb-4 object-cover"
            />
          )}
          {oeuvre.expand?.compositeur && (
            <p class="text-lg">
              Composé par :
              <LinkCompositeur
                compositeur={{
                  id: oeuvre.expand.compositeur.id,
                  nom: oeuvre.expand.compositeur.nom,
                }}
              />
            </p>
          )}
          <a
            href={`/oeuvres/${oeuvre.id}`}
            class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
          >
            Voir les détails
          </a>
        </div>
      ))
    }
  </section>
</Layout>
