---
import HeaderPage from "../../components/HeaderPage.astro";
import Layout from "../../layouts/Layout.astro";

const baseUrl = import.meta.env.PUBLIC_BASE_URL;
import type {
  CompositeursResponse,
  OeuvresResponse,
} from "../../pocketbase-typegen";

// const { id } = Astro.params;
// const response = await fetch(
//   `${baseUrl}/api/collections/compositeurs/records/${id}?expand=oeuvres`
// );
// const compositeur = await response.json();

// Générer les pages statiquement
// export async function getStaticPaths() {
//   const res = await fetch(`${baseUrl}/api/collections/compositeurs/records`);
//   const data = await res.json();

//   return data.items.map((compositeur) => ({
//     params: { id: compositeur.id },
//   }));
// }

export const prerender = false;
const { id } = Astro.params;
const compositeur = await Astro.locals.pb
  .collection<
    CompositeursResponse<{
      oeuvres?: OeuvresResponse[];
    }>
  >("compositeurs")
  .getOne(id!, { expand: "oeuvres" });
---

<head>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>
<HeaderPage />
<Layout pageTitle={`Détails de ${compositeur.nom}`}>
  <section
    class="flex flex-col items-center min-h-screen bg-gradient-to-b from-gray-900 to-gray-700 text-white py-12"
  >
    <h1 class="text-4xl font-bold mb-6 tracking-wide">{compositeur.nom}</h1>

    <div
      class="bg-gray-800 p-8 rounded-lg shadow-2xl transform transition duration-300 hover:scale-105 w-full max-w-md mx-auto"
    >
      {
        compositeur.photo && (
          <img
            src={`${baseUrl}/api/files/compositeurs/${compositeur.id}/${compositeur.photo}`}
            alt={`Photo de ${compositeur.nom}`}
            class="w-40 h-40 rounded-full mx-auto mb-6 object-cover border-4 border-gray-600"
          />
        )
      }

      <div class="text-center">
        <p class="text-lg">
          <strong class="text-blue-400">Instruments :</strong>
          {compositeur.instruments}
        </p>
        <p class="text-lg">
          <strong class="text-blue-400">Nationalité :</strong>
          {compositeur.nationalite}
        </p>
        <p class="text-lg">
          <strong class="text-blue-400">Date de naissance :</strong>
          {compositeur.date_naissance}
        </p>
      </div>

      {
        (compositeur.expand?.oeuvres ?? []).length > 0 && (
          <div class="mt-6">
            <p class="text-lg font-semibold text-blue-400">Oeuvres :</p>
            <ul class="mt-2 space-y-2">
              {compositeur.expand?.oeuvres?.map((oeuvre) => (
                <li
                  data-key={oeuvre.id}
                  class="bg-gray-700 px-4 py-2 rounded-lg shadow-md"
                >
                  {oeuvre.titre}
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </section>
</Layout>
