---
import HeaderPage from "../../components/HeaderPage.astro";
import Layout from "../../layouts/Layout.astro";
import LinkOeuvre from "../../components/LinkOeuvre.astro";
import type {
  CompositeursResponse,
  OeuvresResponse,
} from "../../pocketbase-typegen";

type Response = CompositeursResponse<{
  oeuvres: OeuvresResponse[];
}>;

export const prerender = false;

const compositeurs = await Astro.locals.pb
  .collection<Response>("compositeurs")
  .getFullList({ expand: "oeuvres" });

const baseUrl = "http://127.0.0.1:8090"; // URL de base de PocketBase
---

<head>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>

<HeaderPage />
<Layout pageTitle="Liste des oeuvres">
  <section
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6"
  >
    {
      compositeurs.map((compositeur) => (
        <div
          key={compositeur.id}
          class="bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden"
        >
          <div class="p-4">
            <h2 class="text-xl font-bold mb-2">{compositeur.nom}</h2>
            <p class="text-gray-400 mb-4">
              Année de naissance : {compositeur.date_naissance}
            </p>

            {compositeur.photo && (
              <img
                src={`${baseUrl}/api/files/compositeurs/${compositeur.id}/${compositeur.photo}`}
                alt={`Photo de ${compositeur.nom}`}
                class="w-32 h-32 mx-auto mb-4 rounded-full object-cover"
              />
            )}

            {compositeur.expand?.oeuvres &&
              compositeur.expand.oeuvres.length > 0 && (
                <div class="text-lg mb-4">
                  <p>A composé :</p>
                  <ul class="list-disc pl-5 space-y-2">
                    {compositeur.expand.oeuvres.map((oeuvre) => (
                      <li key={oeuvre.id}>
                        <LinkOeuvre
                          oeuvres={{
                            id: oeuvre.id,
                            titre: oeuvre.titre,
                          }}
                        />
                      </li>
                    ))}
                  </ul>
                </div>
              )}

            <a
              href={`/compositeurs/${compositeur.id}`}
              class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors"
            >
              Voir les détails
            </a>
          </div>
        </div>
      ))
    }
  </section>
</Layout>
