---
import FooterPage from "../../components/FooterPage.astro";
import HeaderPage from "../../components/HeaderPage.astro";
import LinkOeuvre from "../../components/LinkOeuvre.astro";
import Layout from "../../layouts/Layout.astro";
import PocketBase from "pocketbase"; // Importation de PocketBase

export const prerender = false;

// Connexion à PocketBase via Pockethost
const pb = new PocketBase("https://sae303.pockethost.io"); // Utilisation de l'URL de ton instance Pockethost

// Récupération des compositeurs avec leurs œuvres
const compositeurs = await pb.collection("compositeurs").getFullList({
  expand: "oeuvres",
});

const baseUrl = "https://sae303.pockethost.io"; // URL de base de PocketBase
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="public/styles/global.css" />
</head>
<HeaderPage />
<Layout pageTitle="Liste des compositeurs">
  <section
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 p-6 bg-black"
  >
    {
      compositeurs.map((compositeur) => (
        <div
          key={compositeur.id}
          class="bg-fond_cards text-white rounded-lg shadow-lg overflow-hidden"
        >
          {compositeur.photo && (
            <img
              src={`${baseUrl}/api/files/compositeurs/${compositeur.id}/${compositeur.photo}`}
              alt={`Photo de ${compositeur.nom}`}
              class="w-full h-[179px] mx-auto mb-4 object-cover"
            />
          )}
          <div class="px-4">
            <h2 class="text-xl font-bold mb-2 text-[#EFDE7C]">
              {compositeur.nom}
            </h2>
          </div>

          <div class="px-4">
            <h2 class="text-lg mb-2">{compositeur.intitule}</h2>
          </div>

          {/* Lien vers la page de détails du compositeur */}
          <div class="text-center pt-4 pb-8">
            <a
              href={`/compositeurs/${compositeur.id}`}
              class="bg-[#AE3939] h-[30px] opensans text-white font-bold py-2 px-6 rounded-[8px] text-2xl shadow-xl transform transition-transform duration-300 hover:scale-105"
            >
              Voir
            </a>
          </div>
        </div>
      ))
    }
  </section><FooterPage />
</Layout>
