---
import FooterPage from "../../components/FooterPage.astro";
import HeaderPage from "../../components/HeaderPage.astro";
import LinkCompositeur from "../../components/LinkCompositeur.astro";
import Layout from "../../layouts/Layout.astro";
import "/public/styles/global.css"; // Import propre du CSS
import PocketBase from "pocketbase"; // Importation de PocketBase

export const prerender = false;

// Connexion à PocketBase via Pockethost
const pb = new PocketBase("https://sae303.pockethost.io"); // Utilisation de l'URL de ton instance Pockethost

// Récupération des oeuvres depuis PocketBase
const oeuvres = await pb.collection("oeuvres").getFullList({
  expand: "compositeur",
});

const baseUrl = "https://sae303.pockethost.io"; // URL de base de PocketBase
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="public/styles/global.css" />
</head>

<HeaderPage />
<Layout pageTitle="Liste des oeuvres"><section class="bg-black"><h1
      class="text-3xl font-semibold papyrus text-jaune_petant text-center mb-6 pt-6"
    >
      La liste des oeuvres
    </h1>
  <section
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6 bg-black"
  >
    
    {
      oeuvres.map((oeuvre) => (
        <div
          key={oeuvre.id}
          class="bg-fond_cards p-4 rounded-lg shadow-lg transition duration-300 hover:scale-105"
        >
          {oeuvre.cover && (
            <img
              src={`${baseUrl}/api/files/oeuvres/${oeuvre.id}/${oeuvre.cover}`}
              alt={`Photo de ${oeuvre.titre}`}
              class="w-full h-auto object-cover rounded-lg mb-4"
            />
          )}
          <div class="px-2">
            <h2 class="text-2xl font-bold text-white">{oeuvre.titre}</h2>
            <h2 class="text-xl font-semibold text-[#EFDE7C]">
              Par
              {oeuvre.expand?.compositeur.nom}
            </h2>
            <h2 class="text-lg font-light text-[#EFDE7C]">{oeuvre.annee}</h2>
          </div>

          {/* Lien vers la page de détails de l'œuvre */}
          <div class="text-center py-4">
            <a
              href={`/oeuvres/${oeuvre.id}`}
              class="bg-[#AE3939] h-[30px] opensans text-white font-semibold py-2 px-6 rounded-[8px] text-2xl shadow-xl transform transition-transform duration-300 hover:scale-105"
            >
              Détails
            </a>
          </div>
        </div>
      ))
    }
  </section></section><FooterPage />
</Layout>

<style>
  .papyrus {
    font-family: "Papyrus", sans-serif;
  }
</style>